# Ignore target directory
#/target/

# Exclude target directories under src/main and src/test
#!**/src/main/**/target/
#!**/src/test/**/target/

# Include Maven wrapper JAR
!.mvn/wrapper/maven-wrapper.jar

# STS (Spring Tool Suite)
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# Additional file to keep
HELP.md
